@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: 'Vazir', sans-serif; /* اضافه کردن فونت وزیر */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* اضافه کردن فونت وزیر از Google Fonts */
@font-face {
  font-family: 'Vazir';
  src: url('https://fonts.googleapis.com/css2?family=Vazir&display=swap') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family); /* استفاده از فونت وزیر */
}
